.showDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.showImageContainer {
  width: 50%;
  height: auto;
}

.showImage {
  width: 100%;
}

.showDetailsContent {
  padding: 10px;
}
